@using Admin.WebApp.Resources
@using Admin.WebApp.Models

<div ng-controller="app.views.users.list as vm" class="center-block" style="width:80%">
    
    <div ng-show="vm.errors.ErrorGeneralMessage.Errors.length > 0" class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{vm.errors.ErrorGeneralMessage.Errors[0].ErrorMessage}}
    </div>
    
    <div class="row">
        <div class="col-md-6">
            @Resource.Label_TotalCount: {{vm.count}}
            <span ng-show="vm.isFilter()">
                @Resource.Label_Of {{vm.totalCount}}
                <a style="cursor: pointer; color: red" ng-click="vm.resetFilter()">@Resource.Action_ResetFilter.ToLower()</a>
            </span>
        </div>
        <div class="col-md-6" style="text-align:right">
            <button type="button" ng-click="vm.edit(0)" class="btn btn-primary">@Resource.Action_Add</button>
        </div>
    </div>
    <table class="table table-striped">
        <colgroup>
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
        </colgroup>
        <thead>
            <tr>
                <th style="text-align:center">
                    
                    @{Html.RenderPartial("~/App/Main/views/shared/columnHeader.cshtml",
                          new ColumnHeaderModel()
                          {
                              Name = Resource.Label_UserName,
                              PropertyName = "Name",
                              TypeFilter = TypeColumnHeaderFilter.Text,
                              NgModelValue = "vm.filterName"
                          });}
                </th>
                <th style="text-align:center">

                    @{Html.RenderPartial("~/App/Main/views/shared/columnHeader.cshtml",
                    new ColumnHeaderModel()
                    {
                        Name = Resource.Label_Email,
                        PropertyName = "Email",
                        TypeFilter = TypeColumnHeaderFilter.Text,
                        NgModelValue = "vm.filterEmail"
                    });}
                </th>
                
                <th style="text-align:center">
                
                    @{Html.RenderPartial("~/App/Main/views/shared/columnHeader.cshtml",
                        new ColumnHeaderModel()
                        {
                            Name = Resource.Label_UserType,
                            PropertyName = "UserTypes",
                            TypeFilter = TypeColumnHeaderFilter.CheckBoxList,
                            NgModelItems = "vm.filterUserTypes",
                            NgModelItemValue = "Id",
                            NgModelItemName = "Name"
                        });}
                </th>

                
                <th></th>
                <th></th>
             </tr>
        </thead>
        <tbody>
            <tr ng-show="vm.count == 0 && vm.loaded == true">
                <td style="text-align:center" colspan="4">@Resource.Message_NotFound</td>
            </tr>
            <tr ng-repeat="t in vm.recs">
                <td>
                    <span>{{t.Name}}</span>
                </td>
                <td>
                    <span>{{t.Email}}</span>
                </td>
                 
                <td>
                    {{t.UserType.Name}}
                </td> 
                
                <td>
                    <span>{{t.DisabledName}}</span>
                </td>

                <td style="text-align: right">
                    <span ng-click="vm.edit(t.Id)" style="color: lightgrey; cursor: pointer; font-size: 14pt" class="glyphicon glyphicon-pencil"></span>
                    <span ng-click="vm.delete(t.Id)" style="color: lightgrey; cursor: pointer; font-size: 14pt" class="glyphicon glyphicon-remove-circle"></span>
                </td>          
            </tr>
        </tbody>

    </table>
    @{Html.RenderPartial("~/App/Main/views/shared/pagination.cshtml");}
</div>