@using Admin.WebApp.Models
@using Admin.WebApp.Resources

@model RecoveryPassvordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@if (!Model.IsSend)
{
    using (@Html.BeginForm("RecoveryPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div class="form-group">@Resource.Text_RecoveryPassword</div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = true, autofocus = true })
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-lg btn-block btn-default" type="submit">@Resource.Action_RecoveryPassword</button>
                <div style="width: 100%; text-align: center; margin-top: 20px"><a href="@Url.Action("Login", "Account")">@Resource.Action_Login</a></div>
            </div>
        </div>

    }

}
else
{
    <div style="width: 100%; text-align: center; margin-top: 20px">@Resource.Text_RecoveredPassword</div>
    <div style="width: 100%; text-align: center; margin-top: 20px"><a href="@Url.Action("Login", "Account")">@Resource.Action_Login</a></div>
}


